<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CU Events Finder</title>	

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

     <!-- Fonts -->

    <!-- Custom Fonts -->
    <!-- Custom Fonts -->


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <link href="http://fonts.googleapis.com/
    css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS For Map -->
    <link href="css/map.css" rel="stylesheet">

    <!-- Custom CSS For Navbar and Contact -->
    <link href="css/navbar.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/details.css" rel="stylesheet">

</head>


<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>

    <div class="brand">A Greener Dinner: Food Days 2015</div>
    <div class="address-bar">Okenshields Central Campus | Tuesday, October 27, 2015 at 4:30pm to 7:30pm </div>


    <!-- Description starts here -->
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Celebrate eating real with 
                        <strong>a greener dinner!</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/details/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p><a href="http://www.foodday.org/">Food Day</a> is a nationwide celebration of healthy, affordable, and sustainably produced food, and a grassroots campaign for better food policies, and Food Day’s focus this year is on greener diets as a way to address health and environmental issues.

                    Kick off the campus-wide festivities with a seasonal feast where the menu is sustainable, locally sourced, and plant-centric, including such delectable items as Persian Shirazi Salad, Moroccan spiced sweet potato salad, Tunisian vegetable salsa, baba ghanouj, roasted carrot hummus with Dukka spice oil, African curried coconut soup with chick peas, Navratan Korma, fresh strawberries with cardamom infused cream, and much, much more.

                    You'll also get the chance to show off your nutrition and sustainability knowledge to win some awesome foodie prizes!

                    Don't miss Scary Ugly Foods and Cook Smart with Anabel's Grocery, too. Food Days 2015 at Cornell is brought to you by Real Food Cornell, Cornell Dining, Dilmun Hill Student Farm, Anabel's Grocery, and the Division of Nutritional Sciences.</p>
                </div>
            </div>
        </div>
        <!-- Description ends here -->





        <!-- Slide Photo Gallery starts here-->
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="img/details/dining-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/details/dining-2.png" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide Photo Gallery ends here -->



        <!-- Location, Sign up, Related Events starts here -->
        <div class="row">
            <div class="box">
                <div class="col-lg-8">

                    <div id="details-map" class="map">
        
                    </div>  
                    <hr>
                    <h2 class="intro-text text-center">OKENSHIELDS CENTRAL CAMPUS
                    </h2>
                    <h2 class="intro-text text-center">
                        <strong>TUESDAY, OCTOBER 27, 2015 AT 4:30PM TO 7:30PM</strong>
                    </h2>
                </div>
                <div class="col-lg-4">


                    <h2 class="intro-text text-center">
                        Sign up for this event
                    </h2>
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-plus  fa-fw"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                        </li>

                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                    </ul>
                    <hr>
                    <h2 class="intro-text text-center">
                        Related Events
                    </h2>
                    <h5 class="intro-text text-center">
                        <a href="/details" class="related-events"><strong>    Events of the same category</strong></a> <br>
                        <a href="/details" class="related-events"><strong>    Events of the same category</strong></a> <br>
                        <a href="/details" class="related-events"><strong>    Events of the same category</strong></a> <br>
                        <a href="/details" class="related-events"><strong>    Events of the same category</strong></a> <br>

                    </h5>

                </div>
            </div>
        </div>
        <!-- Location, Sign up, Related Events end here -->


    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>


    <!-- load navbar -->
    <script src="js/index.js"></script>

    <!-- Custom Map JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?&signed_in=true"></script>
    <script src="js/details-map.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
