<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CU Events Finder</title>	

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS For Popular Events -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>


    <!-- Timeline Section starts here -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Events</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <a>Steve Jobs -- FREE SNEAK PREVIEW</a><br>
                                        <a>Frank Warren: Post Secret</a><br>
                                        <a>Nightmare at Edgemoor Lane</a><br>
                                        <a>Global Health Experiential Learning Symposium</a><br>
                                        <a>Anti-Semitism: An Update on Europe and the U.S.</a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tomorrow</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <a>Steve Jobs -- FREE SNEAK PREVIEW</a><br>
                                        <a>Frank Warren: Post Secret</a><br>
                                        <a>Nightmare at Edgemoor Lane</a><br>
                                        <a>Global Health Experiential Learning Symposium</a><br>
                                        <a>Anti-Semitism: An Update on Europe and the U.S.</a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Later This Week</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <a>Steve Jobs -- FREE SNEAK PREVIEW</a><br>
                                        <a>Frank Warren: Post Secret</a><br>
                                        <a>Nightmare at Edgemoor Lane</a><br>
                                        <a>Global Health Experiential Learning Symposium</a><br>
                                        <a>Anti-Semitism: An Update on Europe and the U.S.</a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Next Week</h4>
                                    <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <a>Steve Jobs -- FREE SNEAK PREVIEW</a><br>
                                        <a>Frank Warren: Post Secret</a><br>
                                        <a>Nightmare at Edgemoor Lane</a><br>
                                        <a>Global Health Experiential Learning Symposium</a><br>
                                        <a>Anti-Semitism: An Update on Europe and the U.S.</a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Later
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Timeline Section ends here -->

    <div id="contactinfo">
        <!-- Use JQuery to load Contact info here -->
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Header, Footer, Catagory Theme JavaScript -->
    <script src="js/index.js"></script>


</body>

</html>
