@CHARSET "UTF-8";

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
body {
    /*background: url(../img/signin-bg.png) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    font: 16px/2em Lato, serif;
    margin: 100px auto;
    max-width: 400px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
    }
    form[role=login] > div {
        text-align: center;
    }
    
.form-links {
    text-align: center;
    margin-top: 1em;
}
    .form-links a {
        color: #fff;
    }


/* Customize */

.logo-bar {
    height: 50px;
    width: auto;
}

.logo-img {
    float:left;
    max-height: 50px;
    width: auto;

}

.logo-text h3 {
    margin-top: 0;
}

.btn-half-left {
    width: 45%;
}
.btn-half-right {
    width: 45%;
    float: right;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background-image {
  background: url(../img/signin-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}

.background-image.visible {
  opacity: 1;
}

.error-info {
  color: red;
}

.success-info {
  color: green;
}

.wanning-info {
  color: #CC7500;
}
